<div class="top-info">
  <h2> Purchase Confirmation</h2>
</div>
<br>
<div class="container">
  <div class ="Thanks"><h3><br>Congrats you just helped build a wind farm!<br><br>
    Wind turbines generate renewable energy.<br><br>
    <h4>Learn more by clicking here.</h4><br><br></h3></div>
    <div class ="Discounts"><br>Here are local discounts you qualify for:<br><br>
      <ul class="list-group">
        <li class="list-group-item active">Freshi</li>
        <li class="list-group-item">Lush</li>
        <li class="list-group-item">304</li>
        <li class="list-group-item">Whole Foods</li>
        <li class="list-group-item">Organica</li>
      </ul>
     </div>
  <br><br>
  <div>
    <button class="btn btn-default">Dashboard</button>
  </div>
<div>

