<div class="top-info">
  <h2> Flight Information</h2>
</div>
<br>
<div class="container">
  <form class="form" name="form" action="/information">
    <div class="form-group">
      <p>Flight number:</p>
      <input type="text" placeholder="e.g. BA0085" class="form-control"/>
    </div>
    <br>
    <p id="or">OR</p>
    <div class="form-group">
      <p>Flying from:</p>
      <input type="text" placeholder="e.g. Vancouver" class="form-control"/>
    </div>
    <br>
    <div class="form-group">
      <p>Flight number:</p>
      <input type="text" placeholder="e.g. Toronto" class="form-control"/>
    </div>
    <br><br>
    <div>
      <button class="btn btn-default">Get My Carbon Offset</button>
    </div>
  </form>
<div>
