/* You can add global styles to this file, and also import other style files */

html,body {
  background-color: #4CB5F5;
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.top-info{
  background-color: #34675C;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
